@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-slate-950;
    @apply text-white;
  }

  a {
    @apply text-[#25343F] underline;
  }
}

@layer components {
  #__nuxtContent article {
    @apply text-wrap;
  }
  #__nuxtContent article figure {
    @apply mb-4;
  }
  #__nuxtContent article figure figcaption {
    @apply mt-2;
  }
  #__nuxtContent article blockquote {
    @apply my-6 border-l-4 border-[#25343F] rounded-r-lg bg-slate-300 px-5 py-4 text-[#25343F];
  }
  #__nuxtContent article blockquote p {
    @apply mb-0;
  }
  #__nuxtContent article .article-eyecatch {
    @apply flex justify-center mb-8;
  }
  #__nuxtContent article .article-no-bottom-margin {
    @apply mb-0;
  }
  #__nuxtContent article .article-underline-dotted {
    @apply underline decoration-dotted underline-offset-4;
  }
  #__nuxtContent article .article-comment {
    @apply text-xs;
  }
}

html, body, #__nuxt { height: 100%; }

.custom-font-normal {
  font-family: "Outfit", "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.custom-font-bold {
  font-family: "Outfit", "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* Nuxt Content Markdown */
#__nuxtContent p {
  text-align: justify;
  margin-bottom: 1.75rem;
  line-height: 1.75rem;
}

#__nuxtContent a {
  /* color: #25343F; */
  text-decoration-line: underline;
}
#__nuxtContent a:hover {
  color: #FF9B51;
}

#__nuxtContent h2 {
  margin-bottom: 1.5rem;
  padding: 0.5rem 0 0.5rem 1.25rem;
  border-bottom: 2px solid #25343F;
  font-size: 1.25rem;
  font-weight: 600;
}

#__nuxtContent h3 {
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

#__nuxtContent h2 a,
#__nuxtContent h3 a {
  text-decoration: none !important;
}

#__nuxtContent h2 a:hover,
#__nuxtContent h3 a:hover {
  color: #25343F;
  cursor: default;
}

#__nuxtContent .yumekawa-manga {
  margin-bottom: 2rem;
}

#__nuxtContent .yumekawa-manga p {
  margin-bottom: 0;
}

#__nuxtContent article strong {
  font-weight: 600;
}

#__nuxtContent article ul,
#__nuxtContent article ol {
  margin-bottom: 1.75rem;
  line-height: 1.75rem;
}

#__nuxtContent article ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 1.5rem;
}

#__nuxtContent article ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 1.5rem;
}

#__nuxtContent article table caption {
  white-space: nowrap;
  padding: 0.5rem;
}

#__nuxtContent article th,
#__nuxtContent article td {
  border: 2px solid #25343F;
  padding: 0.5rem;
}

#__nuxtContent article code {
  border: 1px solid #BFC9D1;
  border-radius: 0.25rem;
  background-color: #BFC9D13A;
  padding: 0.125rem;
}
